.contenedor-seccion-informacion {
    min-height: 80vh; /* Asegura que el contenedor tenga suficiente altura */
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; 
}

.sub-tituloinfo {
    font-size: 1.4rem;
    font-weight: 600;
}

.resaltar{
    font-weight: 600;
}

.boton-descargar {
    color: #0B1C26;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
}

.boton-descargar:hover{
    color: #504e4efe;
}

 
  
/* Asegúrate de que los gráficos no se desborden en pantallas pequeñas */
@media (max-width: 768px) {
    .contenedor-seccion-informacion {
        min-height: 60vh; /* Ajusta la altura para pantallas más pequeñas */
    }

    .sub-tituloinfo {
        font-size: 1.2rem;
    }

    .descripcion-grafica{
        font-size: 0.8rem;
    }

    .boton-descargar {
        font-size: 0.8rem;
        padding: 0.1rem 0.3rem;
    }
}
