
.contenedor-seccion-chats {
    min-height: 80vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; 
}

.col-chats{
    padding-left: 2px;
    padding-right: 2px;
}

.barra-busqueda{
    padding-right: 5px;
}

.contenedor-lista-chats-scroll{
    padding-right: 5px;
    min-height: 70vh;
    max-height: 80vh; 
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
}

.lista-chats-candidato {
    margin: 0;
    display: flex;
    flex-direction: column;

}

  .chat-preview {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .contenedor-chat{
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .contenedor-chat:hover {
    background-color: #f5f5f5;
    border-radius: 8px;
  }
  
  .chat-logo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
  }
  
  .chat-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-nombre {
    font-size: 16px;
    font-weight: 600;
  }
  
  .chat-hora {
    font-size: 12px;
    color: #888;
  }
  
  .chat-ultimo-mensaje {
    font-size: 0.8rem;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 255px; 
  }
  

/* Estilo general para el chat */
.chat-mensajes {
  color: #202c33;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

/* Estilo del header del chat */
.mensajes-header {
  border-bottom: 1px solid #ddd; /* Línea de separación fina */
}

.mensajes-header h5 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

/* Estilo para el cuerpo del chat */
.mensajes-body {
  flex-grow: 1;
  overflow-y: auto;
  height: 66vh;
  scrollbar-width: thin;
  padding-left: 5px;
  padding-right: 5px;
}

/* Icono de 3 puntos */
.icono-opciones {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 0.75rem;
    opacity: 0.7;
    cursor: pointer;
  }

  
.mensaje {
    display: flex;
    margin-bottom: 5px;
}

.mensaje-empresa {
    justify-content: flex-start;
}

.mensaje-candidato {
    justify-content: flex-end;
}

.contenedor-mensaje {
    position: relative;
    min-width: 70px;
    max-width: 350px;
    padding: 8px;
    border-radius: 8px;
    background-color: #3e4143; /* Empresa */
    color: white;
    font-size: 0.85rem;
    display: inline-block;
    word-wrap: break-word;
}

.mensaje-candidato .contenedor-mensaje {
    background-color: #2f77d0; /* Candidato */
}

.mensaje-texto {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px; /* espacio para la hora */
}

.mensaje-hora {
    position: absolute;
    bottom: 4px;
    right: 10px;
    font-size: 0.55rem;
    opacity: 0.8;
}

/* Estilo para el input de mensaje */
.mensajes-input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  background-color: #fff;
}

.mensajes-input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background-color: #f1f3f4;
  margin-right: 10px;
  color: #202c33;
  height: 2.4rem;
}

.mensajes-input input:focus {
  border: 1px solid #0B1C26;
  outline: none;
  box-shadow: none;
}

.btn-enviar {
  background-color: #0B1C26;
  color: #dde1e9;
  transition: all 0.3s ease;
  border-radius: 20px;
  border: none;
  padding: 5px;
}

.btn-enviar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #dde1e9;
  border: 1px solid #0B1C26;
}

.contenedor-nochat {
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.contenedor-nochat p{
    color: #0B1C26;
}

.contenedor-nochat i{
    color: #ccc;
}


.etiqueta-fecha {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.etiqueta-fecha span {
    background-color: #e4e6eb;
    color: #555;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 0.8rem;
    font-weight: 500;
}


@media (min-width: 767px) and (max-width: 1000px) {
    .icono-volver-lista{
        display: block;
    }

    .col-chats {
    width: 100% !important;
    max-width: 100%;
    flex: 0 0 100%;
    border-right: none;
    }

    .contenedor-seccion-chats {
    max-width: 100%;
    padding: 0 10px;
    }

    .container-fluid,
    .row {
    flex-direction: column;
    }

    .col-md-8 {
    display: none !important;
    }

    .barra-busqueda{
        padding-right: 0px;
    }
    
    .col-chats{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contenedor-lista-chats-scroll{
        padding-right: 0px;
        max-height: none; 
        overflow-y: none; 
    }

    .contenedor-chat{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    
    .contenedor-chat-responsive{
        min-height: 75vh;
    }
    .chat-mensajes {
        padding-left: 0px;
        padding-right: 0px;
    }
    .mensajes-body {
        padding-left: 0px;
        padding-right: 0px;
        scrollbar-width: none;
    }        
}


@media (max-width: 767px) {

    .col-chats {
        width: 100% !important;
        max-width: 100%;
        flex: 0 0 100%;
        border-right: none;
    }

    .contenedor-seccion-chats {
        max-width: 100%;
        padding: 0 10px;
    }

    .container-fluid,
    .row {
        flex-direction: column;
    }

    .col-md-8 {
        display: none !important;
    }

    .barra-busqueda{
        padding-right: 0px;
    }
    
    .col-chats{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contenedor-lista-chats-scroll{
        padding-right: 0px;
        max-height: none; 
        overflow-y: none; 
    }

    
    .contenedor-chat{
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    
    .contenedor-chat-responsive{
        min-height: 75vh;
    }

    .chat-mensajes {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mensajes-body {
        padding-left: 0px;
        padding-right: 0px;
        scrollbar-width: none;
    }  
    
    .contenedor-mensaje {
        padding: 5px;
    }

    .mensaje-texto {
        font-size: 0.8rem;
        padding-top: 12px;
        padding-bottom: 12px; /* espacio para la hora */
    }

    /* Estilo para el input de mensaje */
    .mensajes-input {
        font-size: 0.8rem;
    }

    .mensajes-input input {
        height: 2rem;
    }

}
  