
.experencias-container{
    width: 100%; 
    background: #eff0f3;

}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 0.8rem;
}

.card-body {
    padding: 0.8rem;
}

.card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}


.experencias-container h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.experencias-container .experencia-titulo{
    font-weight: 600;
    font-size: 1.3rem;
}

.experencias-container .titulos{
    font-weight: 600;
    font-size: 1.2rem;
}

.duracion{
    color:  #ccc;;
    background-color: #0B1C26; ;
    font-size: 0.7rem;
    font-weight: 600;

}

.seccion-proyecto .num-proyecto{
    font-weight: 600;
    font-size: 1rem;
}

.seccion-proyecto .descripcion{
    font-size: 0.8rem;
}


.experencias-container input,
.experencias-container textarea {
    font-size: 0.8rem; 
}


@media (max-width: 767px) { 

    .experencias-container h2{
        font-size: 1.3rem;
    }
    .experencias-container .experencia-titulo{
        font-weight: 600;
        font-size: 1rem;
    }
    .experencias-container .titulos{
        font-weight: 600;
        font-size: 0.9rem;
    }
    .experencias-container .num-proyecto{
        font-weight: 600;
        font-size: 0.8rem;
    }
    .experencias-container input,
    .experencias-container textarea {
        font-size: 0.6rem; 
        padding: 0.3rem;
    }

    .experencias-container input.form-control,
    .experencias-container textarea.form-control {
        width: 100%; 
        height: auto; 
    }

    .experencias-container span{
        font-size: 0.7rem;
    }
}