.container-bienvenida{
  margin-top: 7rem;
}

.btn-tipouno{
  background-color: #0B1C26; 
  color: #dde1e9; 
  transition: all 0.3s ease; 
}

.btn-tipodos{
  background-color: rgba(255, 255, 255, 0.9);
  color: #0B1C26; 
  border: 1px solid #0B1C26; 
}

.btn-tipodos:hover{
  background-color: #0B1C26; 
  color: #dde1e9; 
  border: 1px solid #0B1C26; 
}


.btn-tipouno:hover{
  background-color: rgba(255, 255, 255, 0.9);
  color: #0B1C26; 
  border: 1px solid #0B1C26; 
}

.form-group {
  margin-bottom: 1rem;
}

.form input,
.form select{
  height: 2.2rem;
  border-color: #8d8989fe;
  border-radius: 8px;
}

.form textarea{
  height: 15rem;
  border-radius: 8px;
  border-color: #8d8989fe;
}

.custom-font-select {
  font-family: 'Arial', sans-serif; 
  font-size: 1rem; 
}

.custom-font-select option {
  font-family: 'Arial', sans-serif; 
  font-size: 1rem; 
}


.titulo-form,
.form label,
.texto-color{
  color: #0B1C26;
}

.form-control:focus,
.custom-font-select:focus{
  border: 1px solid #0B1C26; 
  outline: none;
  box-shadow: none;
}


.info-text {
  font-size: 0.9rem;
  color: #6c757d; 
  margin-bottom: 1rem;
  line-height: 1.6; 
}

.contenedor-form{
  max-width: 700px ;
}

.contenedor-form a{
  text-decoration: none;
  font-weight: 600;
}

.verificacion-correo h2,
.verificacion-correo p,
.icono{
  color: #0B1C26;
}

.formulario-rfc {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.formulario-rfc h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.formulario-rfc .form {
    display: flex;
    flex-direction: column;
}

.formulario-rfc .form div {
    margin-bottom: 15px;
}

.formulario-rfc .form label {
    font-weight: 600;
    color: #555;
}

.formulario-rfc .form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.formulario-rfc .form input:focus {
  border: 1px solid #0B1C26; 
  outline: none;
  box-shadow: none;
}

@media (max-width: 767px) { 
  .contenedor_todo {
    padding: 1rem; 
  }

  .contenedor-form {
    max-width: 100%; 
    padding: 1.5rem; 
  }

  .contenedor-crear-cuenta {
    max-width: 100%;
  }
  .tecnologias .btn-tecnologia{
    font-size: 0.6rem;
    padding: 5px;
  }

  .btn-tipouno{
    font-size: 0.7rem;
  }
  
  .btn-tipodos{
    font-size: 0.7rem;
  }

  .formulario-rfc {
    margin-left: 5px;
    margin-right: 5px;
}

.formulario-rfc h3 {
    font-size: 1.2rem;
}



.formulario-rfc .form label {
    font-weight: 600;
    color: #555;
    font-size: 0.9rem;
}

.formulario-rfc .form input {
    padding: 8px;
    font-size: 0.8rem;

}

}
